<center id="v_center_h1"><h1>TWITTER-REDBOOTH JOB TEST</h1></center>
<div class="center-window">
	<div id="v_center_div">
	<center><%= link_to 'CLICK HERE TO AUTHORIZE',  @authorize_link, target: '_blank', :class => "center-window" %></center>
</div>
</div>
